* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

#indeximg {
  width: 100%; }

.class {
  text-align: justify; }

body {
  background-image: url("../imgs/gg2_1.jpg");
  background-size: cover;
  background-color: black; }
  body nav .grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    padding: 10px; }
    body nav .grid-container .IndexNav {
      list-style-type: none; }
      body nav .grid-container .IndexNav ul {
        margin: 0;
        padding: 0;
        overflow: hidden; }
      body nav .grid-container .IndexNav li {
        float: left;
        font-size: large; }
      body nav .grid-container .IndexNav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        background-color: #333; }
        body nav .grid-container .IndexNav li a:hover {
          color: black; }
        body nav .grid-container .IndexNav li a:visited {
          color: white; }
    body nav .grid-container .link a:visited {
      color: white; }
      body nav .grid-container .link a:visited:hover {
        color: black; }

.videoindex h2 {
  display: block;
  color: white;
  text-align: center; }

.sociales {
  display: flex;
  justify-content: space-around;
  margin: 40px; }

.fa {
  padding: 5px;
  font-size: 50px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 20%; }
  .fa:hover {
    opacity: 0.7; }

.fa-facebook {
  background: #3B5998;
  color: white; }

.fa-twitter {
  background: #55ACEE;
  color: white; }

.fa-youtube {
  background: #bb0000;
  color: white; }

h1 {
  text-align: center;
  background-color: black;
  color: gold; }

@media screen and (max-width: 700px) {
  body {
    background-image: url("../imgs/fondogg.png"); }
  .item1 {
    background-color: red; } }

.ColabImg {
  display: inline; }

.tabla, td, th {
  border: 3px solid rgb(240, 222, 222); 
  margin: auto;}

td {
  text-align: center; }

.grid-container {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding: 10px; }

.presentacion {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }

.colaboraciones {
  text-align: center;
  color: gold;
  font-style: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large; }

p {
  color: white; }
  
